body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
#body-final{
	background-image: url("./src/img/final.png");

}
#body-uno{
	background-image: url("./src/img/estebueno.png");

}
#bodyDos {
	background-image: url("./src/img/escdos.png");
}
#body-index {
	background-image: url("./src/img/index.png");
}

#landscape {
	display: none;
	z-index: -100;
}

@media(max-width: 850px) and (orientation: landscape){
	#container-id{
		padding-top: 5rem;
	}
	#emptyOneRed, #emptyTwoRed, #emptyTrheeGreen, #emptyFourGreen,#emptyOneRedId, #emptyTwoRedId, #emptyTrheeGreenId, #emptyFourGreenId {
	height: 2.5rem;
	width: 2.5rem;
	margin: 5px;
	}
	#apple-container-id{
		padding: 0rem 10rem;
	}
	#img1, #img2, #img3, #img4{
		height: 2rem;
		width: 2rem;
		padding: .2rem .2rem;
	}
	#apple-red-container-id{
		padding: 0rem 0rem;
	}
	#wrap-id{
		height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	padding-top: 10rem;
	}
	#button-play-id{
		height: 3rem;
		width: 3rem;
		padding: .3rem;	
	}
	#elboton {
		min-width: 200px;
		min-height: 60px;
		font-family: 'Nunito', sans-serif;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		font-weight: 700;
		color: #313133;
		background: #4FD1C5;
	background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
		border: none;
		border-radius: 1000px;
		box-shadow: 12px 12px 24px rgba(79,209,197,.64);
		transition: all 0.3s ease-in-out 0s;
		cursor: pointer;
		outline: none;
		position: relative;
		padding: 1px;
		}
	
	#elboton::before {
	content: '';
		border-radius: 1000px;
		min-width: calc(180px + 12px);
		min-height: calc(40px + 12px);
		border: 6px solid #00FFCB;
		box-shadow: 0 0 60px rgba(0,255,203,.64);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: all .3s ease-in-out 0s;
	}
	
	#elboton:hover, .button:focus {
		color: #313133;
		transform: translateY(-2px);
	}
	
	#elboton:hover::before, button:focus::before {
		opacity: 1;
	}
	
	#elboton::after {
		content: '';
		border-radius: 100%;
		border: 6px solid #37bd40;
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 50%;
		animation: ring 1.5s infinite;
	}
	
	#elboton:hover::after, #elboton:focus::after {
		animation: none;
		display: none;
	}
	
	@keyframes ring {
		0% {
			width: 10px;
			height: 10px;
			opacity: 1;
		}
		100% {
			width: 20px;
			height: 10px;
			opacity: 0;
		}
}
}
@media(max-width: 620px) and (orientation: portrait){
	#landscape {
		display: flex;
		position: fixed;
		top: 0;
		bottom: 0px;
		right: 0px;
		left: 0px;
		background: #f2f2f2;
		z-index: 990000;
		width: 100%;
		height: 100vh;
		font-size: 190%;
		align-items: center;
		justify-content: center;
	}
	.rotar-img {
		height: 10rem;
	}
}

.container {
	flex-direction: column;
	padding-top: 8rem;
}
.apple-red-container {
	padding: 3.5rem 0rem;
}
.apple-green-container {
	padding:0.1rem 0rem;
}
.apple-container {
	display: flex;
	padding: 0rem 18rem;
	justify-content: space-between;

}


.img {
	height: 3rem;
	width: 3rem;
	padding: .5rem .6rem;
}

.empty {
	height: 4rem;
	width: 4rem;
	margin: 5px;
}

.emptyOne {
	border: solid 0.3rem rgb(124, 6, 6);
	background: rgba(121, 50, 50, 0.6);
	height: 4rem;
	width: 4rem;
	margin: 5px;
}

.emptyTwo {
	border: solid 0.3rem rgb(158, 93, 13);
	background: rgba(121, 50, 50, 0.6);
	height: 4rem;
	width: 4rem;
	margin: 5px;
}

.emptyTrhee {
	border: solid 0.3rem rgba(13, 1, 18, 0.948);
	background: rgba(30, 171, 131, 0.6);
	height: 4rem;
	width: 4rem;
	margin: 5px;
}

.emptyFour {
	border: solid 0.3rem rgb(84, 3, 79);
	background: rgba(30, 171, 131, 0.6);
	height: 4rem;
	width: 4rem;
	margin: 5px;
}




.hold {
	border: solid 5px #ccc;
}

.hovered {
	background-color: #0ab062;
	border-color: rgb(223, 207, 25);
	border-style: dashed;
}

.apple-container-escdos{
	flex-direction: row-reverse;
}

#elboton {
	height: 1rem;
	cursor: pointer;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	padding-top: 20rem;
}

.button {
  min-width: 25rem;
  min-height: 8rem;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #1919c3;
  background: #d09331;
background: linear-gradient(90deg, rgb(31, 65, 202) 0%, rgb(211, 90, 9) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 10px 10px 20px rgba(214, 10, 159, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 30rem;
  min-width: calc(100px + 15rem);
  min-height: calc(5rem + 1rem);
  border: 3px solid #ff00d9;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-2px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  border-radius: 100%;
  border: 6px solid #bd8537;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 100px;
    opacity: 0;
  }
}
.button-play{
	height: 5rem;
}